<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<%- include('./partials/navigation.ejs') %>

		<!-- Main content -->

		<main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
			<section>
				<h1 class="display-1"></h1>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut, earum. At alias, vel temporibus dolorem culpa
					deleniti nostrum quos laboriosam nemo quisquam fugit aspernatur cum cumque, ratione maxime recusandae, eum
					assumenda repellendus commodi odio? Perferendis laudantium nostrum nisi id dolore dolorum fuga delectus
					pariatur. Cumque, pariatur ipsam, voluptatum nulla libero labore ullam quasi hic ratione amet est repellendus
					reiciendis? Iste vel provident esse, perferendis rem dicta cum? Similique temporibus rerum maiores, dolores
					aliquid ullam nam nostrum modi excepturi id inventore natus commodi quasi quae. Accusantium iure non
					voluptatibus nobis doloremque a voluptatum eveniet, sint tempora optio eius cupiditate ea dolores magnam hic
					blanditiis voluptas culpa. Voluptate veritatis esse ducimus, inventore itaque eligendi illo veniam amet nihil
					unde illum ipsam culpa, sed eius ad, incidunt obcaecati at nam quibusdam optio alias nostrum provident
					distinctio reiciendis! Dicta quis quae libero nihil alias? Dolore aliquam nihil alias placeat fugiat
					perspiciatis, reiciendis corrupti, eius, fugit itaque delectus. A, alias! Pariatur ducimus omnis delectus quia
					iste consequuntur blanditiis, quod eligendi, fugit, in asperiores sequi odit possimus. Neque incidunt vero
					sint dolor, quaerat id explicabo ducimus voluptatem nulla doloremque nostrum atque nihil, quod reiciendis ex
					deleniti! Suscipit ducimus debitis qui consequuntur quia laboriosam temporibus adipisci inventore quod
					repudiandae nesciunt iusto labore error blanditiis, odit sunt neque magni sequi autem delectus doloribus
					dolorum nihil ipsum beatae! Blanditiis delectus sequi ratione. Beatae ipsam reiciendis nam, impedit quae aut
					rerum velit maiores iusto, laboriosam quia, dicta minima. Facilis omnis vero rem ipsa accusantium in quidem
					autem dolor adipisci atque repellendus ad, assumenda eos magni modi unde vitae repellat optio repudiandae
					excepturi, culpa odit enim laudantium reiciendis! Nihil voluptatem veniam placeat consectetur ullam alias hic
					quam eius soluta, velit dolorem accusamus. Magni, provident quae. Numquam quidem, odit quos officia, quis
					obcaecati itaque voluptatibus repellendus at explicabo ea atque temporibus quae.
				</p>
			</section>
		</main>
		<!-- /Main content -->

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
