<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body>
		<%- include('./partials/navigation.ejs') %>

		<!-- Main content -->
		<header class="container vh-100 d-flex justify-content-center align-items-center">
			<div class="d-flex flex-column justify-content-center align-items-center">
				<img src="/img/logo.png" class="w-25" alt="Logo Jhon Camargo" />
				<h1 class="display-1 my-5 text-uppercase fw-bold">Jhon Camargo</h1>
				<a href="/about" class="btn btn-primary w-25">About</a>
			</div>
		</header>
		<!-- /Main content -->

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
